

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:linear-gradient(135deg,#4facfe,#00f2fe,#43e97b);
min-height:100vh;
padding:20px;
color:white;
}

.top{
text-align:center;
margin-bottom:30px;
}

.logo{
width:90px;
height:90px;
border-radius:50%;
margin-bottom:10px;
}

h1{
font-size:40px;
margin-bottom:20px;
}

.buttons{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
}

.btn{
padding:12px 20px;
border:none;
border-radius:25px;
cursor:pointer;
font-size:16px;
background:white;
color:#333;
transition:0.3s;
}

.btn:hover{
transform:scale(1.08);
background:#ffe082;
}

.active{
background:#00e676;
}

.tab{
display:none;
animation:fade 0.5s;
}

.show{
display:block;
}

@keyframes fade{
from{opacity:0;}
to{opacity:1;}
}

.box{
max-width:1000px;
margin:auto;
background:rgba(255,255,255,0.18);
padding:30px;
border-radius:25px;
backdrop-filter:blur(6px);
text-align:center;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.img{
width:100%;
max-height:320px;
object-fit:cover;
border-radius:20px;
margin-bottom:20px;
}

p{
font-size:20px;
line-height:1.8;
margin-top:15px;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:25px;
}

.message{
margin-top:25px;
text-align:center;
font-size:24px;
font-weight:bold;
padding:20px;
background:#ff7043;
border-radius:20px;
}

input{
padding:14px;
width:250px;
border:none;
border-radius:14px;
margin-top:20px;
font-size:18px;
text-align:center;
}

.donate{
margin-top:20px;
padding:14px 24px;
border:none;
border-radius:15px;
cursor:pointer;
background:#00e676;
font-size:18px;
font-weight:bold;
transition:0.3s;
}

.donate:hover{
transform:scale(1.08);
}

.bar-bg{
margin-top:25px;
height:30px;
width:100%;
background:rgba(255,255,255,0.25);
border-radius:50px;
overflow:hidden;
}

#bar{
height:100%;
width:0%;
background:linear-gradient(90deg,#00e676,#ffee58,#ff5252);
transition:1s;
}

h3{
margin-top:18px;
font-size:24px;
}

@media(max-width:850px){
.grid{
grid-template-columns:1fr;
}
}